@font-face {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(400-subset.woff2) format('woff2'),
    url(400-subset.woff) format('woff'), url(400-subset.ttf) format('truetype');
  unicode-range: U+A, U+20, U+22, U+25, U+28, U+29, U+2C-3E, U+43, U+45, U+47-4A,
    U+4C, U+4E, U+4F, U+52-54, U+61-70, U+72-7A, U+2014, U+2019, U+1F447;
}
