@font-face {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(700-subset.woff2) format('woff2'),
    url(700-subset.woff) format('woff'), url(700-subset.ttf) format('truetype');
  unicode-range: U+20, U+2C, U+2E, U+43, U+48, U+49, U+4C, U+50, U+61, U+63-66,
    U+69-6F, U+72-74, U+79, U+2019;
}
